.ProductItem{
  display: block;
  flex: 0 0 49.80%;
  max-width: 49.80%;
  background-color: white;
  &-images{
    position: relative;
    img {
      display: block;
      width: 100%;
      object-fit: cover;
      //aspect-ratio: 1/1;
    }
    &-tag{
      position: absolute;
      top: 5px;
      left: 5px;
      background-color: color(blue);
      padding: 8px;
      font-weight: 500;
      color: white;
      border-radius: 5px;
      &.red{
        background-color: color(red);
      }
    }
  }
  &-body{
    flex: 1 1 0%;
    font-size: 15px;

    padding: 5px;
    background-color: white;
    &-title{

      line-height: 1.3rem;
      a{
        transition: .5s;
        font-size: 12px;
        font-weight: 600;
        &:hover{
          color: color(red);
        }
      }
    }
    &-price{
      font-size: 13px;
      font-weight: 500;
      color: color(red) !important;
      width: 50%;
    }
    &-action{
      &-text{
        font-weight: 400;
        font-size: 10px;
        width: 40%;
      }
    }
  }
}