nav.NavigationLogged
    ul.NavigationLogged-list.d-flex.items-center.mb-0.justify-center
        li.NavigationLogged-list-item.active
            a.NavigationLogged-list-item-link(href="index.html" )
                i.fa.fa-home
                span.d-block Trang chủ
        li.NavigationLogged-list-item
            a.NavigationLogged-list-item-link(href="cart.html" )
                i.fa.fa-cart-plus
                span.d-block Đơn hàng
                span.number 5
        li.NavigationLogged-list-item
            a.NavigationLogged-list-item-link(href="https://www.youtube.com/watch?v=m5c9b03xf5U" target="_blank")
                i.fa.fa-youtube-play
                span.d-block Cách đặt hàng
        li.NavigationLogged-list-item
            a.NavigationLogged-list-item-link(href="account.html")
                i.fa.fa-user
                span.d-block Tài khoản