extends includes/layouts/LayoutAccount.pug

block account
    .about
        h5 Giới thiệu về công ty:
        br
        br
        br
        p Công ty SXTM XNK D&C là đơn vị cung ứng trái cây nhập khẩu uy tín hàng đầu Việt Nam. Đối tác tin cậy đã và đang đồng hành cung ứng cho hệ thống các siêu thị lớn, chuỗi cửa hàng, khách sỉ và khách lẻ trên cả nước.
        p Công ty SXTM XNK D&C là đơn vị cung ứng trái cây nhập khẩu uy tín hàng đầu Việt Nam. Đối tác tin cậy đã và đang đồng hành cung ứng cho hệ thống các siêu thị lớn, chuỗi cửa hàng, khách sỉ và khách lẻ trên cả nước.
        p Công ty SXTM XNK D&C là đơn vị cung ứng trái cây nhập khẩu uy tín hàng đầu Việt Nam. Đối tác tin cậy đã và đang đồng hành cung ứng cho hệ thống các siêu thị lớn, chuỗi cửa hàng, khách sỉ và khách lẻ trên cả nước.
        p Công ty SXTM XNK D&C là đơn vị cung ứng trái cây nhập khẩu uy tín hàng đầu Việt Nam. Đối tác tin cậy đã và đang đồng hành cung ứng cho hệ thống các siêu thị lớn, chuỗi cửa hàng, khách sỉ và khách lẻ trên cả nước.
        p Công ty SXTM XNK D&C là đơn vị cung ứng trái cây nhập khẩu uy tín hàng đầu Việt Nam. Đối tác tin cậy đã và đang đồng hành cung ứng cho hệ thống các siêu thị lớn, chuỗi cửa hàng, khách sỉ và khách lẻ trên cả nước.
        p Công ty SXTM XNK D&C là đơn vị cung ứng trái cây nhập khẩu uy tín hàng đầu Việt Nam. Đối tác tin cậy đã và đang đồng hành cung ứng cho hệ thống các siêu thị lớn, chuỗi cửa hàng, khách sỉ và khách lẻ trên cả nước.
        p Công ty SXTM XNK D&C là đơn vị cung ứng trái cây nhập khẩu uy tín hàng đầu Việt Nam. Đối tác tin cậy đã và đang đồng hành cung ứng cho hệ thống các siêu thị lớn, chuỗi cửa hàng, khách sỉ và khách lẻ trên cả nước.
        p Công ty SXTM XNK D&C là đơn vị cung ứng trái cây nhập khẩu uy tín hàng đầu Việt Nam. Đối tác tin cậy đã và đang đồng hành cung ứng cho hệ thống các siêu thị lớn, chuỗi cửa hàng, khách sỉ và khách lẻ trên cả nước.
        p Công ty SXTM XNK D&C là đơn vị cung ứng trái cây nhập khẩu uy tín hàng đầu Việt Nam. Đối tác tin cậy đã và đang đồng hành cung ứng cho hệ thống các siêu thị lớn, chuỗi cửa hàng, khách sỉ và khách lẻ trên cả nước.
        p Công ty SXTM XNK D&C là đơn vị cung ứng trái cây nhập khẩu uy tín hàng đầu Việt Nam. Đối tác tin cậy đã và đang đồng hành cung ứng cho hệ thống các siêu thị lớn, chuỗi cửa hàng, khách sỉ và khách lẻ trên cả nước.
